
<div class="container" >   
     <h4>Our List of Novels</h4>
     <select class="form-control">
        <option *ngFor="let book of books" value={{book}}>
          {{book.title}}
        </option>
      </select>
      <h6>List of Authors</h6>
      <select class="form-control">
        <option *ngFor="let author of authors" value={{author}}>
          {{author.name}} ID: {{author.authorId}}
        </option>
      </select>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Book ID</th>
        <th>Author ID</th>
        <th>Title</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books"  (click)="showAuth(author)">
        <td><span>{{book.bookId}}</span></td>
        <td><span>{{book.authorId}}</span></td>
        <td><span>{{book.title}}</span></td>
        <td><span>${{book.price}}</span></td>
      </tr>
      </tbody>   
    </table>    
  </div>