
<div class="container" > 
     <h4>Our List of Authors</h4>
     <select class="form-control">
        <option *ngFor="let author of authors" value={{author}}>
          {{author.name}}
        </option>
      </select>
      <br>
      
      
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>AuthorID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors">
        <td><span>{{author.authorId}}</span></td>
        <td><span>{{author.name}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>